html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

.widget {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px #000;
    z-index: 3;
}
.widget-container {
    display: flex;
    width: 100%;
    height: 75%;
    border: none;
    background-color: #14b61f;
    z-index: 4;
    align-self: flex-end;
    flex-wrap:wrap;
}
.mini-widget {
    width: 20px;
    height: 20px;
    background-color:#1a14b6;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: #4d4d4d;
    z-index: 5;
    align-items: center;
    justify-content: space-evenly;
}


#canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    background-color: #1e1e1e;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}
#widget-factory {
    margin-left: 20px;
}
