<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <title>GoalPost.io FAQ</title>
    </head>
    <body>
        <h1>GoalPost.io FAQ</h1>
        <hr>
        <br><br><br>
        <h2>Questions About The Site<h2>
        <div>
            <b>What is a widget?</b>
            A widget is a component of an interface which enables users to perform a function and/or action or access a service used.  In GoalPost.io, a widget is a draggable element that a user can place in a blank workspace to add the goals needed to accomplish.  They can always opt out of a goal or change it whenever it's not needed or if there is something else to do.
            <br><br>
            <b>Which operating system can GoalPost.io run on?</b>
            GoalPost.io can run on Microsoft Windows, Apple Mac OS X, Ubuntu Linux, Samsung Android, iOS, and any other OS that provides the features for the website.
            <br><br>
            <b>How many different types of widgets are there, and what are they used for?</b>
            There are at least five different widgets.  One of them is the regular widget, which enables the user to put in text and/or checkmarks within the dragged-and-dropped widget.  Another is a timer/stopwatch widget which enables a countdown for accomplishing certain goals in a limited amount of time, or recording how much time is spent accomplishing a goal or two.  The other is the PDF widget, which enables an option to view PDFs and eBooks to enhance literary.  The other is a music widget for users to set up a playlist of songs/sounds of their choice.  And the other widget is ________________, where __________________________________________________________.
 <!-- That FAQ answer would need extra information as well as something to fill in the outlines for the other kind/s of widgets. -->
            <br><br>
            <b></b>
            
            <br><br>
            <b></b>
            
            <br><br>
            <b>Who are the site's contributors or doners?</b>
            There are none.
            <br><br>
            <b></b>
            
            <br><br>
            <b>Is there a limit for how many widgets would be dragged and dropped until a user accomplishes their goal/s?</b>
  <!-- I will let the rest of you decide if there should be a limit/maximum amount of widgets. -->
            <br><br>
            <b></b>
            
  <!-- Any other FAQ questions and answers to add, or are the ones already answered plenty? -->
            
        </div>
    </body>
</html>
