<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <title>GoalPost.io FAQ</title>
    </head>
    <body>
        <h1>GoalPost.io FAQ</h1>
        <hr>
        <br><br><br>
        <h2>Questions About The Site<h2>
        <div>
            <b>What is a widget?</b>
            A widget is a component of an interface which enables users to perform a function and/or action or access a service used.  In GoalPost.io, a widget is a draggable element that a user can place in a blank workspace to add the goals needed to accomplish.  They can always opt out of a goal or change it whenever it's not needed or if there is something else to do.
            <br><br>
            <b>Which operating system can GoalPost.io run on?</b>
            GoalPost.io can run on Microsoft Windows, Apple Mac OS X, Ubuntu Linux, Samsung Android, iOS, and any other OS that provides the features for the website.
            <br><br>
            <b></b>
            
            <br><br>
            <b></b>
            
            <br><br>
            <b></b>
            
            <br><br>
            <b></b>
            
            
            
        </div>
    </body>
</html>