<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <title>GoalPost.io Login</title>
    </head>
    <body>
        <h1>GoalPost.io Login</h1>
        <div>
            <br><br>
            <label>Username or Email</label>
            <input type = "text" name = "username" size = "40" required>
            <br><br>
            <label>Password</label>
            <input type = "password" name = "password" size = "40" required>
            <br><br><br>
            <input type = "checkbox" checked = "checked"> Stay logged in
            <br><br>
            <button type = "submit" name = "enter">Login</button>
            <br><br>
        </div>
    </body>
</html>