<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <title>GoalPost.io Settings</title>
    </head>
    <body>
        <h1>GoalPost.io Settings</h1>
        <hr>
        <br>
        <form>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
 <!-- Perhaps some of the buttons can be changed to levers, checkboxes, multiple-choice bullets, some other function/command. -->
            <br><br><br>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
            <br><br>
            <div>
                <button type = "submit">Save Changes</button>
            </div>
            <br><br>
        </form>
 <!-- How many forms/divs would the Settings page need, and how many labels/buttons for one and/or the other?  Unless only one <form> is required, I would suggest adding at least one or two more forms to make the settings page complete.  Perhaps one can be the account settings while the other can be the color/themes, and maybe the other something else entirely. -->
        <br><br>
        
        <footer><b>Remember: </b> You can always go back and change the settings in its default form, or implement completely different settings of your choice.</footer>
    </body>
</html>
