<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <title>GoalPost.io Settings</title>
    </head>
    <body>
        <h1>GoalPost.io Settings</h1>
        <hr>
        <br>
        <form>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
            <br><br><br>
            <label></label>
            <button></button>
        </form>
        
        <br><br>
        
        <footer><b>Remember: </b> You can always go back and change the settings in its default form, or implement completely different settings of your choice.</footer>
    </body>
</html>