<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <title>GoalPost.io Sign Up</title>
    </head>
    <body>
        <h1>GoalPost.io Sign Up</h1>
        <hr>
        <br><br>
<!-- The login and signup div/form would probably require center alignment. -->
        <form>
            <br><br>
            <label>Username</label>
            <input type = "text" name = "username" size = "40" required>
            <br><br>
            <label>Email</label>
            <input type = "text" name = "email" size = "40" required>
            <br><br>
            <label>Password</label>
            <input type = "password" name = "password" size = "40" required>
            <br><br>
            <label>Confirm Password</label>
            <input type = "password" name = "confirm" size = "40" required>
            <br><br><br>
    <!-- Adding other options to login and/or sign up (Google Gmail, Facebook, Twitter, etc.) is also known for many websites with login information.-->
            <input type = "checkbox" checked = "checked">
    <!-- For the signup.html page, do we really need a checkmark?  If not, it can always be removed. -->
            <br><br>
            <button type = "submit" name = "enter">Sign up</button>
            <br><br>
        </form>
    </body>
</html>
